body {
  background-color: #C1FDE6;
  // background-image: url('../_includes/img/background.png');
  background-size: cover; // Makes image cover entire viewport
  background-position: center; // Centers the image
  background-repeat: no-repeat; // Prevents tiling
  background-attachment: fixed; // Keeps background fixed while scrolling (optional)
  --background-secondary: #C1FDE6;
}

.content {
  background-color: #C1FDE6;
  padding: 40px;
}