// =============================================================================
// FONTS
// =============================================================================

@import url('https://fonts.googleapis.com/css2?family=Kotta+One&display=swap');

.kotta-one-regular {
  font-family: "Kotta One", serif;
  font-weight: 400;
  font-style: normal;
}


// =============================================================================
// BASE STYLES
// =============================================================================

body {
  //background-color: #252525;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}

main {
  padding: 2rem;
}

svg {
  width: 16px;
  height: 16px;
}


// =============================================================================
// LAYOUT - MAIN CONTENT
// =============================================================================

.content {
  //background-color: rgba($color: #C1FDE6, $alpha: 0.9) !important;
  //border: 1px solid rgba($color: #1d1d1d, $alpha: 0.4);
  width: 55vw;
  max-width: none;
  margin: auto;
  margin-left: 250px;
  font-size: 18px;
  line-height: 1.5;

  @media (max-width: 1400px) {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
  }

  @media (max-width: 800px) {
    width: 90vw;
  }
}


// =============================================================================
// LAYOUT - NAVBAR
// =============================================================================

.navbar {
  padding-left: 24px;
}

.search-button {
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding-left: 16px;

  svg {
    width: 16px;
    height: 16px;
  }

  &.align-icon {
    margin: 16px;
  }
}


// =============================================================================
// LAYOUT - SIDEBAR
// =============================================================================

.filetree-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  margin: 0;
  padding: 12px;
  // background-color: #C1FDE6;
  border-right: 1px solid rgba($color: #1d1d1d, $alpha: 0.4);
  color: var(--text-muted);
  overflow-y: auto;

}

.sidebar {
  top: 32px;
  right: 32px;
  height: 91vh;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sidebar-container {
  height: 91vh;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
}


// =============================================================================
// COMPONENTS - BACKLINKS & GRAPH
// =============================================================================

.backlinks {
  flex: 1;
  margin-top: 0;
  padding: 16px;
  //background-color: #C1FDE6;
  border: 1px solid rgba($color: #1d1d1d, $alpha: 0.4);
  border-radius: 0;
}

.force-graph-container {
  //background-color: #C1FDE6;
  border: 1px solid rgba($color: #1d1d1d, $alpha: 0.4);
  border-radius: 0;
}

.graph .graph-title {
  visibility: hidden;
}

.graph-title-container {
  height: 0;
}


// =============================================================================
// TYPOGRAPHY
// =============================================================================

h1, h2, h3, h4, h5, h6 {
  font-family: 'Kotta One', serif !important;
  //color: #ffffff !important;
}

a {
  color: #bdbdbd !important;
}